Gatherer/Service References/CbisCategoryReference/Categories.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.cbis.citybreak.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.cbis.citybreak.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.cbis.citybreak.com/">
      <s:element name="GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="languageId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIdResult" type="tns:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultTemplateId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:CategoryStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentCategoryId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Icon" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CategoryStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Active" />
          <s:enumeration value="Inactive" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ListAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="languageId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentCategoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllResult" type="tns:TreeOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TreeOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nodes" type="tns:ArrayOfTreeNodeOfCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTreeNodeOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TreeNodeOfCategory" nillable="true" type="tns:TreeNodeOfCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TreeNodeOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:Category" />
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfTreeNodeOfCategory" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllSoapIn">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="ListAllSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:portType name="CategoriesSoap">
    <wsdl:operation name="GetById">
      <wsdl:input message="tns:GetByIdSoapIn" />
      <wsdl:output message="tns:GetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:input message="tns:ListAllSoapIn" />
      <wsdl:output message="tns:ListAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoriesSoap" type="tns:CategoriesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://api.cbis.citybreak.com/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://api.cbis.citybreak.com/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoriesSoap12" type="tns:CategoriesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://api.cbis.citybreak.com/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap12:operation soapAction="http://api.cbis.citybreak.com/ListAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Categories">
    <wsdl:port name="CategoriesSoap" binding="tns:CategoriesSoap">
      <soap:address location="http://api.cbis.citybreak.com/Categories.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoriesSoap12" binding="tns:CategoriesSoap12">
      <soap12:address location="http://api.cbis.citybreak.com/Categories.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>